.nu-hero {
    background-image: url("../../../public/img/banner-mobile.jpg");
    background-size: 100% 100%;
    background-position: center;
    padding: 70px 24px;
    position: relative;
    height: auto;
}

.nu-hero-content p {
    color: #ffff;
    margin: 8px 0px 24px;
}

.nu-hero-content-form {
    display: flex;
    flex-direction: column;
    padding:24px;
    background-color: #ffffff;
    border-radius: 16px;
}

.nu-hero-content-form input{
    border: none;
    border-bottom: 2px solid #111111;
    margin: 39px 0px 43px 0px;
    font-size: 18px;
}

.nu-hero-content-form button{
    padding: 13px 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 100px;
    border: none;
    font-size: 18px;
    color: rgba(17, 17, 17, 0.2);;
}

  @media (min-width:426px) {
    .nu-hero {
        background-image: url('../../../public/img/Nubank_HickDuarte_56320\ 1.jpg');
        background-size:cover;
        background-position: top;
        padding: 88px 50px;
        width: 100%;
        height: auto;
    }

    .nu-hero-content-form {
            width: 65%;
            margin-left: 30%;
            margin-top: 15%;
  }
}

@media (min-width:600px) {
    .nu-hero-content-form {
        width: 40%;
        margin-left: 60%;
        margin-top: 15%;
  }
}

@media (min-width:900px) {
    .nu-hero {
        background-image: url('../../../public/img/background-desk.png');
        background-size:cover;
        background-position: top;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 800px;

    }

    .nu-hero-title {
        padding:0 200px 0 0;
    }

    .nu-hero-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nu-hero-content-form{
        width: 30%;
        margin-left: 0;
        margin-top: 0;
    }
}